[Unit]
Description=raid-scrub

[Timer]
OnCalendar=Sat *-*-01..07 02:00:00
#systemd-analyze --iterations 12 calendar "Sat *-*-01..07 02:00:00"

[Install]
WantedBy=timers.target
