[Unit]
Description=report

[Timer]
OnBootSec=25sec
OnCalendar=Mon *-*-* 08:00:00
# systemd-analyze --iterations 5 calendar "Mon *-*-* 08:00:00"

[Install]
WantedBy=timers.target
